{% if GOOGLE_ANALYTICS or GOOGLE_ANALYTICS_UNIVERSAL or TWITTER_USERNAME %}
  <div id="cookies-eu-banner" style="display: none;">
  <div class="entry-content alert alert-warning alert-dismissible">
      <p>This website uses cookies that store information about your usage of the page. By continuing to use this page you confirm you are happy with that.
      <a href="{{ SITEURL }}/cookie-usage/" id="cookies-eu-more">Review and change</a> how cookies are used.
      <br>
      <br>
      </p>
      <p>
<!--                 <button id="cookies-eu-reject" class="btn btn-warning btn-sm">Reject</button>   -->
        <button id="cookies-eu-accept" class="btn btn-default btn-sm">Confirm</button>
      </p>
  </div>
  </div>
{% endif %}
